<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,246},{64,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,430},{60,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,368},{60,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{64,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>E.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{60,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>F.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{60,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>G.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,186},{64,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>H.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,186},{64,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>I.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{40,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>J.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,430},{58,58}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>K.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{64,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>L.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,366},{56,58}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{56,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>M.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,126},{64,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>N.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,126},{64,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>O.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{64,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>P.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,306},{60,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,64},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>R.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,64},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>S.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,304},{56,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>T.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{60,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>U.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>V.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>W.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,246},{64,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>X.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>Y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>Z.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,304},{62,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ABC.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2adf328cae9caa62fd98210ef8dd085:5bd24ad77b40b63a9c1608bcc38c19fc:b9b2d7274c739ded436652877bea09c0$</string>
            <key>textureFileName</key>
            <string>ABC.png</string>
        </dict>
    </dict>
</plist>
