<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>antBoss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,95},{113,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,91}}</string>
                <key>sourceSize</key>
                <string>{113,91}</string>
            </dict>
            <key>antBoss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{113,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,91}}</string>
                <key>sourceSize</key>
                <string>{113,91}</string>
            </dict>
            <key>antBoss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{108,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,91}}</string>
                <key>sourceSize</key>
                <string>{108,91}</string>
            </dict>
            <key>antBoss4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{108,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,91}}</string>
                <key>sourceSize</key>
                <string>{108,91}</string>
            </dict>
            <key>antBoss5.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{113,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,91}}</string>
                <key>sourceSize</key>
                <string>{113,91}</string>
            </dict>
            <key>antBoss6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,91}}</string>
                <key>sourceSize</key>
                <string>{113,91}</string>
            </dict>
            <key>antBoss7.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,188},{108,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,91}}</string>
                <key>sourceSize</key>
                <string>{108,91}</string>
            </dict>
            <key>antBoss8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{108,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,91}}</string>
                <key>sourceSize</key>
                <string>{108,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ANT_NPC.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0b45db1e83a62892a2009b99bd10122:ee8981c647e90ac9ac42359ee90deb99:51b522fd02965e67501a3f47928e0953$</string>
            <key>textureFileName</key>
            <string>ANT_NPC.png</string>
        </dict>
    </dict>
</plist>
