<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{116,94}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>boss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{112,96}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{112,96}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>boss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{110,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{110,96}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>boss4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,100},{110,94}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{110,94}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:186f6c052c31b35b18fe4fe8b68774dc:79df24a0aa72bef4ff9db58d252d4cda:130860349884e9db32a7002f801c74f9$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
