<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{181,176}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,155},{173,174}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{173,174}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,172},{137,174}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{137,174}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,275},{129,174}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,1},{129,174}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,483},{117,168}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,1},{117,168}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,176},{121,168}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{121,168}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{127,172}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{127,172}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,346},{131,172}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{131,172}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,311},{173,170}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{173,170}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>dead01.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{175,168}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{175,168}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>dead02.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,406},{169,166}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{169,166}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>dead03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,484},{169,162}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{169,162}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>dead04.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,143},{175,130}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{175,130}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>dead05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,330},{173,152}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{173,152}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,316},{173,168}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{173,168}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>jump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{151,176}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{151,176}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>jump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,574},{137,164}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,1},{137,164}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>jump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{139,176}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{139,176}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>jump5.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,165},{149,174}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{149,174}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>standby01.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{161,174}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{161,174}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>standby02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{163,172}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{163,172}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>standby03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{161,168}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{161,168}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
            <key>standby04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{163,174}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{163,174}}</string>
                <key>sourceSize</key>
                <string>{183,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toast.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ba2b360267166a3da52cc7ec0c42ece:70916784a85d05c283be9a9553e6d354:1350d3b96902a4d45887d7896a34b765$</string>
            <key>textureFileName</key>
            <string>toast.png</string>
        </dict>
    </dict>
</plist>
